<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartcare.bookings"
    android:versionCode="1"
    android:versionName="1.0" >
   
    
    <uses-permission android:name="com.smartcare.pillreminder.googlemapsv2.permission.MAPS_RECEIVE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <!-- <uses-permission android:name="android.permission.READ_CALENDAR" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <application
        android:name="com.smartcare.bookings.SmartCareBookingsApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
 
     <meta-data
     android:name="com.google.android.maps.v2.API_KEY"
     android:value="AIzaSyAhykTjKmlPYxQgS36PkoynFOq92bNqJ0k" />
        
     <meta-data
     android:name="com.google.android.gms.version"
     android:value="@integer/google_play_services_version" />
     
     <activity
            android:name="com.smartcare.bookings.activities.SignInActivity"
            android:label="@string/title_activity_sign_in" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartcare.bookings.activities.SelectLocationActivity"
            android:label="@string/title_activity_select_location" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartcare.bookings.activities.SelectPhysicianActivity"
            android:label="@string/title_activity_select_benefit" >
            <intent-filter>
            </intent-filter>
        </activity>
         <activity
            android:name="com.smartcare.bookings.activities.PreferencesActivity"
            android:label="preferences" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartcare.bookings.activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartcare.bookings.activities.HeartRateMonitorActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartcare.bookings.activities.SelectAppointmentTimeActivity"
            android:label="@string/title_activity_select_slot" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartcare.bookings.activities.MyAppointmentsActivity"
            android:label="@string/title_activity_my_appointments" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
              <activity
            android:name="com.smartcare.pillreminder.Prescriptions"
            android:label="@string/title_activity_prescriptions" >
        </activity>
        <activity
            android:name="com.smartcare.pillreminder.AddPrescription"
            android:label="@string/title_activity_add_prescription" >
        </activity>

        <receiver android:name="com.smartcare.pillreminder.AlarmReciever" />

        <activity
            android:name="com.smartcare.pillreminder.PrescriptionsInfo"
            android:label="@string/title_activity_prescriptions_info" >
        </activity>
        <activity
            android:name="com.smartcare.pillreminder.EditPrescriptions"
            android:label="@string/title_activity_edit_prescriptions" >
        </activity>

        <service
            android:name="com.smartcare.pillreminder.Alarm.MyAlarmService"
            android:enabled="true" />

        <receiver android:name="com.smartcare.pillreminder.Alarm.AlarmReceiver" />

        <activity
            android:name="com.smartcare.pillreminder.MyAlarmResponse"
            android:label="@string/title_activity_my_alarm_response"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.smartcare.pillreminder.MyGoogleMap"
            android:label="@string/title_activity_my_google_map" >
        </activity>
        <activity
            android:name="com.smartcare.pillreminder.PillReminderActivity"
            android:label="Pill Reminder" >
        </activity>

        <service
            android:name="com.gimbal.service.ProximityService" android:exported="false">
            <intent-filter>
                <action android:name="com.example.proximityapp" />
            </intent-filter>
        </service>
        
         <service android:name="com.paypal.android.sdk.payments.PayPalService" android:exported="false" />
        
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
    </application>

</manifest>